
#login{
    margin-top: 12%;
}

.heading{
    margin-bottom: 25px;
    text-align: center;
}

.submain input{
    border: none;
    background-color: #ebf5f4;    
}

.submain button{
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.submain p{
    font-weight: 600;
}

.submain p:hover{
    cursor: pointer;
}

